body {
  background: -webkit-linear-gradient(bottom, #2dbd6e, #a6f77b);
  background-repeat: no-repeat;
}
ul {
  list-style-type: none;
  font-size: large;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 40px;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover {
  color: steelblue;
}
.name {
  text-align: center;
  font-size: 5em;
  margin-top: 50px;
  margin-left: 50px;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px #000000;
}
.web {
  text-align: center;
  color: white;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}
.me {
  padding: 20px;
}
.image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.intro {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding: 0 5em 0 5em;
}

.hello {
  text-align: center;
  color: white;
  font-size: 3em;
}

.footer {
  padding: 150px 0 20px;
}

.link {
  color: white;
  text-align: center;
  margin: 10px 20px;
  text-decoration: none;
}
.link:hover {
  color: steelblue;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  display: block;
}

.skill_img {
  height: 100px;
  width: 100px;
  margin-left: 6em;
  margin-top: 2em;
}

.about {
  color: white;
  text-align: center;
}
h1:hover {
  color: steelblue;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
.grade {
  color: steelblue;
}

p {
  text-align: center;
  color: white;
  font-size: larger;
}
